<% if @user.errors.any? %>
  <div class="alert alert-danger">
    Le formulaire contient <%= pluralize(@user.errors.count, "erreur") %>.
  </div>
  <ul class="list-form">
  <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
<% end %>
