@import "bootstrap-sprockets";
@import "bootstrap";

// variables et mixins
@mixin box-sizing{
  -moz-box-sizing: border-box;
  -webkit-box-sizing:border-box;
  box-sizing: border-box;
}

.logo{
  width: 25px;
  height: auto;
}
body{
  padding-top: 75px;
  font-size: 16px;
}
.center{
  text-align: center;
}
p{
  font-size: 120%;
  padding: 20px 0;
}
// footer
footer p {
  padding-top: 40px;
  text-align: center;
}
.small-logo{
  width: 25px;
}
.logo{
  float: left;
}
// misc
.debug_dump{
  margin: 0 auto;
  width: 60%;
  margin-top: 45px;
  @include box-sizing;
}

//sidebar
aside {
  section{
    padding: 10px 0;
    h1{
      font-size: 140%;
    }
  }
}

.gravatar{
  float: left;
  margin-right: 10px;
}

// formulaire
input{
  border: 1px solid rgb(182,182,182);
  width: 100%;
  margin-bottom: 15px;
  @include box-sizing;
}

.registrer-title{
  text-align: center;
  padding-bottom: 20px;
}
