<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">

    <nav>
      <ul class="nav navbar-nav">
        <li><%= link_to "Accueil", root_path%></li>
        <li><%= link_to "Services", pages_services_path%></li>
        <li><%= link_to "Team", pages_team_path%> </li>
        <li><%= link_to "Contact",pages_contact_path%> </li>
      </ul>
    </nav>
  </div>

  </header>
